<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Callback Logger - Inbox</title>
    <meta name="author" content="Lee Turner">

    <!-- Tailwind -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>

    <style>
        @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
        .font-family-karla { font-family: karla; }
        .bg-sidebar { background: #3d68ff; }
        .upgrade-btn { background: #1947ee; }
        .upgrade-btn:hover { background: #0038fd; }
        .active-nav-link { background: #1947ee; }
        .nav-item:hover { background: #1947ee; }
    </style>
</head>
<body class="bg-gray-100 font-family-karla flex" th:with="githubRepo=${'https://github.com/leeturner/callback-logger'}">

<aside class="relative bg-sidebar h-screen w-64 hidden sm:block shadow-xl">
    <div class="p-6">
        <a href="/callback-logger/" class="text-white text-3xl font-semibold uppercase hover:text-gray-300">Callbacks</a>
    </div>
    <nav class="text-white text-base font-semibold pt-3">
        <a id="inbox-link" href="/callback-logger/" class="flex items-center active-nav-link text-white py-4 pl-6 nav-item">
            <i class="fas fa-table mr-3"></i>
            Inbox (<span id="callback-count" th:text="${callbackCount}">1</span>)
        </a>
        <a th:if="${callbackCount != 0}" id="clear-all-link" href="/callback-logger/clear/" class="flex items-center text-white py-4 pl-6 nav-item">
            <i class="fas fa-trash mr-3"></i>
            Clear All
        </a>
        <span th:if="${callbackCount == 0}" id="disabled-clear-all-link" class="flex items-center text-gray-400 py-4 pl-6">
            <i class="fas fa-trash mr-3"></i>
            Clear All
        </span>
    </nav>
    <a id="github-link" th:href="${githubRepo}" class="absolute w-full upgrade-btn bottom-0 active-nav-link text-white flex items-center justify-center py-4">
        <i class="fas fa-arrow-circle-up mr-3"></i>
        Github
    </a>
</aside>

<div class="relative w-full flex flex-col h-screen overflow-y-hidden">

    <!-- Mobile Header & Nav -->
    <header x-data="{ isOpen: false }" class="w-full bg-sidebar py-5 px-6 sm:hidden">
        <div class="flex items-center justify-between">
            <a href="/callback-logger/" class="text-white text-3xl font-semibold uppercase hover:text-gray-300">Callbacks</a>
            <button @click="isOpen = !isOpen" class="text-white text-3xl focus:outline-none">
                <i x-show="!isOpen" class="fas fa-bars"></i>
                <i x-show="isOpen" class="fas fa-times"></i>
            </button>
        </div>

        <!-- Dropdown Nav -->
        <nav :class="isOpen ? 'flex': 'hidden'" class="flex flex-col pt-4">
            <a href="/callback-logger/" class="flex items-center active-nav-link text-white py-2 pl-4 nav-item">
                <i class="fas fa-table mr-3"></i>
                Inbox
            </a>
            <a th:if="${callbackCount != 0}" href="/callback-logger/clear/"
               class="flex items-center active-nav-link text-white py-2 pl-4 nav-item">
                <i class="fas fa-trash mr-3"></i>
                Clear All
            </a>
            <span th:if="${callbackCount == 0}" class="flex items-center text-gray-400 py-4 pl-6">
                <i class="fas fa-trash mr-3"></i>
                Clear All
            </span>
            <a th:href="${githubRepo}" class="flex items-center active-nav-link text-white py-2 pl-4 nav-item">
                <i class="fas fa-arrow-circle-up mr-3"></i>
                Github
            </a>
        </nav>
    </header>

    <div class="w-full h-screen overflow-x-hidden border-t flex flex-col">
        <main class="w-full flex-grow p-6">
            <h1 class="text-3xl text-black pb-6">Inbox</h1>

            <div class="w-full mt-6">
                <div class="bg-white overflow-auto">
                    <table class="min-w-full bg-white">
                        <thead class="bg-gray-800 text-white">
                        <tr>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Timestamp</th>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Http Method</th>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Http Version</th>
                            <th class="w-1/2 text-left py-3 px-4 uppercase font-semibold text-sm">Callback Body</th>
                        </tr>
                        </thead>
                        <tbody class="text-gray-700">
                        <tr th:each="callback,iterStat : ${callbacks}" th:id="${'callback-' + iterStat.count}" th:class="${iterStat.odd}? 'bg-gray-200'">
                            <td th:id="${'callback-' + iterStat.count + '-timestamp'}" class="text-left py-3 px-4" th:title="${callback.timestamp}" th:text="${callback.formattedTimestamp}">2023-04-14T09:18:22.132Z</td>
                            <td th:id="${'callback-' + iterStat.count + '-httpMethod'}" class="text-left py-3 px-4" th:text="${callback.httpMethod}">POST</td>
                            <td th:id="${'callback-' + iterStat.count + '-httpVersion'}" class="text-left py-3 px-4" th:text="${callback.httpVersion}">HTTP_1_1</td>
                            <td th:id="${'callback-' + iterStat.count + '-payload'}" class="w-1/2 text-left py-3 px-4" th:text="${callback.payload}">"{"hello": "world", "foo": "bar"}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--            <code>-->
            <!--                curl -X POST &#45;&#45;location "http://localhost:7070/callback-logger/api/callback" \-->
            <!--                -H "Content-Type: application/json" \-->
            <!--                -d "{\"hello\": \"world\"}"-->
            <!--            </code>-->

        </main>

        <footer class="w-full bg-white text-right p-4">
            Template Built by <a target="_blank" href="https://davidgrzyb.com" class="underline">David Grzyb</a>.
        </footer>
    </div>

</div>
<script>
    document.querySelectorAll('td.code').forEach(el => {
        // then highlight each
        hljs.highlightElement(el);
    });
</script>
<!-- AlpineJS -->
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
<!-- Font Awesome -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
        integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
</body>
</html>
